<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.per.application.dao.sysrole.SysRoleMapper">
	<resultMap type="com.per.application.entity.sysrole.SysRole" id="baseResult">
		<result column="id" property="id" />
		<result column="role_name" property="roleName" />
		<result column="role_value" property="roleValue" />
	</resultMap>

	<sql id="baseSql">
		id,role_name,role_value
	</sql>

	<select id="findById" resultMap="baseResult" parameterType="java.lang.Long">
		select <include refid="baseSql" />
		from sys_role where id=#{value}
	</select>

	<select id="findBySearch" resultMap="baseResult" parameterType="com.per.application.entity.sysrole.SysRole">
		select <include refid="baseSql" />
		from sys_role
		<where>
			1=1
			<if test="id != null and id !=''"> and id = #{id}</if>
			<if test="roleName != null and roleName !=''"> and role_name = #{roleName}</if>
			<if test="roleValue != null and roleValue !=''"> and role_value = #{roleValue}</if>
		</where>
	</select>

	<insert id="insert" parameterType="com.per.application.entity.sysrole.SysRole" useGeneratedKeys="true" keyProperty="id">
		insert sys_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id !=''"> id,</if>
			<if test="roleName != null and roleName !=''"> role_name,</if>
			<if test="roleValue != null and roleValue !=''"> role_value,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id !=''"> #{id},</if>
			<if test="roleName != null and roleName !=''"> #{roleName},</if>
			<if test="roleValue != null and roleValue !=''"> #{roleValue},</if>
		</trim>
	</insert>

	<update id="updateById" parameterType="com.per.application.entity.sysrole.SysRole">
		UPDATE sys_role
		SET
		<trim suffixOverrides=",">
			<if test="id != null and id !=''"> id = #{id},</if>
			<if test="roleName != null and roleName !=''"> role_name = #{roleName},</if>
			<if test="roleValue != null and roleValue !=''"> role_value = #{roleValue},</if>
		</trim>
		WHERE id = #{id}
	</update>

	<delete id="deleteById" parameterType="java.lang.Long">
		delete from sys_role where id =#{value}
	</delete>

</mapper>
